<% provide :title, @cat.name %>
<div class="center" style="margin:30px 0px;">
	<div style="display:flex; justify-content:space-around; height: 300px">
		<div class="center" style="width:50%;">
			<% if !@cat.cat_images.empty? %>
				<div id="imagesAlbum-<%= @cat.id %>" class="carousel slide " data-ride="carousel" data-interval="false">
					<ol class="carousel-indicators">
						<% num_of_images = @cat.cat_images.count %>
						<% @cat.cat_images.each_with_index do |img, i| %>
							<li data-target="#imagesAlbum-<%= @cat.id %>" data-slide-to="<%= i%>" class="<%= (i == 0)? 'active': '' %>"></li>
						<% end %>
					</ol>
					<div class="carousel-inner center">
						<% @cat.cat_images.each_with_index do |img, i| %>
							<div class="carousel-item <%= (i == 0)? 'active': '' %> center"> 
								<%= image_tag(img.link, class: "image_detail") %>
							</div>
						<% end %>
					</div>

					<a class="carousel-control-prev" href="#imagesAlbum-<%= @cat.id %>" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a class="carousel-control-next" href="#imagesAlbum-<%= @cat.id %>" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				</div>
			<% end %>
		</div>
		<div style="width:50%;display:flex; flex-direction:column;align-content:flex-start;">
			<h3 style="text-align:left"><%= @cat.name %></h3>
			<p class="badge badge-info" style="width:30%; padding:2px"><%= truncate(@cat.category, length: 25) %></p>
			<span style="text-align:left; margin-left:10px; font-size: 15px"><%= @cat.description %></span>
			<div class="" style="display:flex; align-items:center; margin-left:10px; font-size: 15px">
				<span style="margin-right:5px"><%= @cat.num_of_likes %></span>
				<i class="star fas fa-thumbs-up"></i>
				<span style="margin:0px 5px 0px 15px"><%= @cat.num_of_rates %></span>
				<i class="star fas fa-comment"></i>
			</div>
			<div style="padding-top:130px"> 
				<%= button_to 'Order', cat_items_path(cat_id: @cat), class: 'btn btn-primary btn-sm' %>
			</div>
		</div>
	</div>
	<div style="display:flex; justify-content:space-evenly">	
		<div style="width:50%" class="comment">
			<h2 style="margin:35px 0;">Comment</h2>
			<% if logged_in? %>
				<div class="comment-form">
					<%= render 'shared/cat_rate_form' %>
				</div>
			<% else %>
				<div class="content"><%= link_to 'Sign in', login_path, style: 'font-weight: bold;'%> to leave a comment.</div>
			<% end %>
			<div class="comment" style="margin-top:20px">
				<% if !@cat.cat_rates.empty? %>
					<div class="">
						<% @cat.cat_rates.order('created_at DESC').each_with_index do |rate,i| %>
							<% user = User.find_by id: rate.user_id %>
							<% if(i < @cat.cat_rates.count) %>
								<div class="box-comt">
									<% if(user.image.url.nil?) %>			
										<%= image_tag('https://secure.gravatar.com/avatar/1',class: "ava-box-cmt") %>
									<% else %>
										<%= image_tag(user.image.url,class: "ava-box-cmt", alt:'...') %>
									<% end %>
									<div class="cmt-detail">
										<h4><%= user.name %></h4>
										<div class="div-center">
											<div class="like">
												<% if (rate.rate_point > 0) %>
													<i class="fas fa-thumbs-up"></i>
												<% else %>
													<i class="fas fa-comment"></i>
												<% end %>
											</div>
											<i><%= time_ago_in_words(rate.created_at)%></i>
										</div>
										<span style="margin-top:10px"> <%= rate.comment%> </span>
										<% if logged_in? %>
											<% if (current_user.id == user.id) %>
												<%= link_to 'Delete', [rate.cat, rate], method: :delete, data: { confirm: 'Are you sure?' } %>
											<% end %>
										<% end %>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div style="width:50%;">
			<h2 style="margin:30px 0;">Schedule</h2>
			<table class="table">
				<thead class="thead-dark">
					<tr>
					<th scope="col">#</th>
					<th scope="col">User</th>
					<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody>
					<% @cat.time_cats.sort_by(&:time).each_with_index do |time,i| %>
						<tr class="text-left">
							<th scope="row"><%= i+1 %></th>
							<% user = User.find_by id: time.user_id %>
							<td><%= user.name %></td>
							<td><%= time.time.strftime("%I:%M %p on %d %B %Y")  %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>