<%= form_with(model: time_cat, local: true) do |form| %>
  <% if time_cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_cat.errors.count, "error") %> prohibited this time_cat from being saved:</h2>

      <ul>
      <% time_cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<% user = User.find_by id: current_user.id %>
    <h4><b>User: </b><%= form.label :user_id , user.name, class: 'form-control' %></h4>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
	<% cat_id = @cat_item.cat_id %>
	<% cat = Cat.find(cat_id) %>
	<h4><b>Cat: </b><%= form.label :cat_id , cat.name, class: 'form-control' %></h4>
	<%= form.hidden_field :cat_id, value: cat_id %>
  </div>

  <div class="field">
    <h4><%= form.label :time %></h4>
	<div class="select_time ">
		<%= form.datetime_select :time, start_year: Time.current.year, ampm: true, prompt: true, minute_step: 10 %>
	</div>
  </div>

  <%= form.submit "Confirm", class: "btn btn-primary" %>
<% end %>
