<div class="center" style="width:30%;">
  	<% if !food.food_images.empty? %>
		<div id="imagesAlbum-<%= food.id %>" class="carousel slide " data-ride="carousel" data-interval="false">
			<ol class="carousel-indicators">
			<% num_of_images = food.food_images.count %>
			<% food.food_images.each_with_index do |img, i| %>
			<li data-target="#imagesAlbum-<%= food.id %>" data-slide-to="<%= i%>" class="<%= (i == 0)? 'active': '' %>"></li>
			<% end %>
			</ol>
			<div class="carousel-inner">
			<% food.food_images.each_with_index do |img, i| %>
				<div class="carousel-item <%= (i == 0)? 'active': '' %> center">
				<%= image_tag(img.link, style:'height:200px; object-fit:cover;-webkit-filter: brightness(0.8); filter: brightness(0.8);') %>
				</div>
			<% end %>
			</div>

			<a class="carousel-control-prev" href="#imagesAlbum-<%= food.id %>" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</a>
			<a class="carousel-control-next" href="#imagesAlbum-<%= food.id %>" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			</a>
		</div>
    <% end %>
	<h4><%= link_to food.name , detail_food_path(id: food.id) %><h4>
	<h5><%= number_to_currency(food.price , unit: "VND", format: "%n %u", precision: 0) %><h5>
	<%= button_to 'Add to cart', line_items_path(food_id: food), class: 'btn btn-primary btn-sm' %>
  <hr>
</div>